	<footer >
        <div class="dotted-box">
          <div class="row" id="contact">
            
            <div class="col-sm-6 col-md-3">
              <h5>Contact</h5>
              <p>
                Fredrik Davidsson<br>
                Director<br>
                +46 739 81 82 23<br>
                <a href="mailto:fredrikdavidsson@mac.com">fredrikdavidsson@mac.com</a>
              </p>
            </div>

            <div class="col-sm-6 col-md-3">
              <h5>Representation</h5>
              <p>
                Visual Art Sweden<br>
                Executive Producer:<br>
                Dan Svensson<br>
                +46 739 40 11 20<br>
                <a href="mailto:dan@visualart.se">dan@visualart.se</a>
              </p>
            </div>
            <!--
            <div class="col-md-6">
              
              <ul class="list-unstyled">
                <li class="pull-right">SOCIAL ICONS</li>
              </ul>
              
            </div>
            -->
          </div>
          <!-- TODO: set date auto -->
        
        </div>
        <div class="pull-right small-text">&copy; Copyright {{year}}&nbsp; Fredrik Davidsson&nbsp; All Rights Reserved</div>
    </footer>