<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{headtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/stylesheets/sass-bootstrap.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <!-- link href="/css/style.css" rel="stylesheet" media="screen" -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container container--narrowed">
    
    	{{{body}}}
      
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script -->
    <script src="/js/jquery.fitvids.js"></script>
    <script>
        $(document).ready(function(){
            $(".video-wrapper").fitVids();
        });
    </script>
  </body>
</html>
