<!-- view: video.html -->

<div class="page-narrower">

	<nav>
		<a href="/" class="uppercase backer">Back</a>
	</nav>

	<div class="video-wrapper">
		<iframe src="//player.vimeo.com/video/{{vimeoid}}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="row">
		<div class="col-sm-12 credit-list">




			<h2>Title <span>{{title}}</span></h2>
			{{{creditlist}}}
		</div>
	</div>
</div>